body{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
  min-height:100vh;
  margin:0;
  }

hr{
  width:200px;
  color:grey;
}

ul{
  margin:0;
  padding:0;
  list-style:none;  
}

.item-list li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:0.5rem 0;
  min-width:200px;

}

.favorite-icon{
 border:none;
  background:none;
  cursor:pointer;
  transform:scale(1.2);
  transition:0.2s;
}

.filled{
  color:red;
}

